<a href="https://colab.research.google.com/github/sathvika2398/23CSBTB30/blob/main/EXCEL_SHEET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data =pd.read_csv("/AIML- 2.csv")
print(data)

    S  NO   SID      NAME  COURSE  CONTACT NUMBER
0       1  2110  sathvika     CSE      9182836332
1       2  2111   sravani     CSE      8978192883
2       3  2112  sharanya     CSE      9949135139
3       4  2113   sathvik     CSE      8500172275
4       5  2114    pranay     EEE      9398852101
5       6  2115    naveen     ECE      6300761234
6       7  2116   shivani     CSE      7786991543
7       8  2117    anusha     CSE      9976812546
8       9  2118      neha   CIVIL      6386751208
9      10  2119   nishith     CSE      8760775231
10     11  2120    rajesh     EEE      7890654188
11     12  2121    nikith   CIVIL      9843215678
12     13  2122    nithin     CSE      6399871234
13     14  2123    charan     ECE      8569012546
14     15  2124    vishnu     CSE      7844566231
15     16  2125      siri   CIVIL      9989727288
16     17  2126     navya  CSE-CS      8749288383
17     18  2127   rohith   CSE-CS      9981233338
18     19  2128     akhil     EEE      6321887666
19     20  2129     kumar     ECE      8763125474

In [7]:
import pandas as pd
data=pd.read_csv("/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [8]:
import pandas as pd
data=pd.read_csv("/games_dataset.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]